Repository dnd-side-project/dnd-7th-2-android, pull requests merged in 2022-09, with the labels that each got.

#53 인증 로직 추가
  app/build.gradle.kts
  buildSrc/src/main/java/Dependencies.kt
  data/build.gradle.kts
  data/src/main/java/com/woowa/data/MyClass.kt
  data/src/main/java/com/woowa/data/di/NetworkModule.kt
  data/src/main/java/com/woowa/data/di/RepositoryModule.kt
  data/src/main/java/com/woowa/data/di/ServiceModule.kt
  data/src/main/java/com/woowa/data/remote/model/response/ApiResponse.kt
  data/src/main/java/com/woowa/data/remote/model/response/ErrorResponse.kt
  data/src/main/java/com/woowa/data/remote/model/response/TokenDto.kt
  data/src/main/java/com/woowa/data/remote/repository/AuthenticationRepositoryImpl.kt
  data/src/main/java/com/woowa/data/remote/service/AuthenticationService.kt
  data/src/test/java/com/woowa/data/remote/service/AuthenticationServiceTest.kt
  data/src/test/java/resources/auth/auth_fail_invalid_input_value.json
  data/src/test/java/resources/auth/auth_fail_unauthorized.json
  data/src/test/java/resources/auth/auth_success_login.json
  data/src/test/java/resources/auth/auth_success_logout.json
  domain/build.gradle.kts
  domain/src/main/java/com/woowa/domain/model/ApiResult.kt
  domain/src/main/java/com/woowa/domain/model/ErrorResult.kt
  domain/src/main/java/com/woowa/domain/model/Login.kt
  domain/src/main/java/com/woowa/domain/model/Reissue.kt
  domain/src/main/java/com/woowa/domain/model/Token.kt
  domain/src/main/java/com/woowa/domain/model/error/FieldError.kt
  domain/src/main/java/com/woowa/domain/repository/AuthenticationRepository.kt
Labels: feature, chore, test

#55 대학교 및 학과 조회 로직
  data/src/main/java/com/woowa/data/di/RepositoryModule.kt
  data/src/main/java/com/woowa/data/di/ServiceModule.kt
  data/src/main/java/com/woowa/data/remote/model/response/university/DepartmentDto.kt
  data/src/main/java/com/woowa/data/remote/model/response/university/UniversityDto.kt
  data/src/main/java/com/woowa/data/remote/repository/UniversityRepositoryImpl.kt
  data/src/main/java/com/woowa/data/remote/service/UniversityService.kt
  data/src/test/java/com/woowa/data/remote/service/UniversityServiceTest.kt
  data/src/test/java/resources/university/department_success.json
  data/src/test/java/resources/university/university_success.json
  domain/src/main/java/com/woowa/domain/model/university/Department.kt
  domain/src/main/java/com/woowa/domain/model/university/University.kt
  domain/src/main/java/com/woowa/domain/repository/UniversityRepository.kt
Labels: feature, test

#57 이메일 전송 및 인증번호 로직
  data/src/main/java/com/woowa/data/di/RepositoryModule.kt
  data/src/main/java/com/woowa/data/di/ServiceModule.kt
  data/src/main/java/com/woowa/data/remote/model/response/email/EmailCheckDto.kt
  data/src/main/java/com/woowa/data/remote/repository/EmailAuthenticationRepositoryImpl.kt
  data/src/main/java/com/woowa/data/remote/service/EmailAuthenticationService.kt
  data/src/test/java/com/woowa/data/remote/service/EmailAuthenticationServiceTest.kt
  data/src/test/java/resources/email/email_success_auth_check.json
  data/src/test/java/resources/email/email_success_send.json
  domain/src/main/java/com/woowa/domain/model/email/Email.kt
  domain/src/main/java/com/woowa/domain/model/email/EmailAuth.kt
  domain/src/main/java/com/woowa/domain/model/email/EmailCheck.kt
  domain/src/main/java/com/woowa/domain/repository/EmailAuthenticationRepository.kt
Labels: feature, test

#59 회원조회 및 수정 로직 (+ 코드 조회 로직)
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/res/drawable/ic_experience_empty.xml
  app/src/main/res/xml/network_security_config.xml
  data/src/main/java/com/woowa/data/di/DataSourceModule.kt
  data/src/main/java/com/woowa/data/di/RepositoryModule.kt
  data/src/main/java/com/woowa/data/di/ServiceModule.kt
  data/src/main/java/com/woowa/data/remote/model/response/CodeDto.kt
  data/src/main/java/com/woowa/data/remote/model/response/MemberDto.kt
  data/src/main/java/com/woowa/data/remote/model/response/MemberUpdateDto.kt
  data/src/main/java/com/woowa/data/remote/repository/CodeRepositoryImpl.kt
  data/src/main/java/com/woowa/data/remote/repository/MemberRepositoryImpl.kt
  data/src/main/java/com/woowa/data/remote/service/CodeService.kt
  data/src/main/java/com/woowa/data/remote/service/MemberService.kt
  data/src/main/java/com/woowa/data/remote/soruce/CodeDataSource.kt
  data/src/main/java/com/woowa/data/remote/soruce/MemberDataSource.kt
  data/src/test/java/com/woowa/data/remote/service/CodeServiceTest.kt
  data/src/test/java/com/woowa/data/remote/service/MemberServiceTest.kt
  data/src/test/java/resources/code/code_all_success.json
  data/src/test/java/resources/code/code_fail.json
  data/src/test/java/resources/code/code_success.json
  data/src/test/java/resources/member/member_search_success.json
  data/src/test/java/resources/member/member_update_success.json
  domain/src/main/java/com/woowa/domain/MyClass.kt
  domain/src/main/java/com/woowa/domain/model/Code.kt
  domain/src/main/java/com/woowa/domain/model/Member.kt
  domain/src/main/java/com/woowa/domain/model/MemberEdit.kt
  domain/src/main/java/com/woowa/domain/model/MemberUpdate.kt
  domain/src/main/java/com/woowa/domain/repository/CodeRepository.kt
  domain/src/main/java/com/woowa/domain/repository/MemberRepository.kt
Labels: feature, chore, test

#61 내가 쓴 글 조회 로직
  buildSrc/src/main/java/Dependencies.kt
  data/build.gradle.kts
  data/src/main/java/com/woowa/data/di/RepositoryModule.kt
  data/src/main/java/com/woowa/data/di/ServiceModule.kt
  data/src/main/java/com/woowa/data/remote/model/response/member/MemberDto.kt
  data/src/main/java/com/woowa/data/remote/model/response/member/MemberUpdateDto.kt
  data/src/main/java/com/woowa/data/remote/model/response/mywrote/MyWroteDto.kt
  data/src/main/java/com/woowa/data/remote/repository/MemberRepositoryImpl.kt
  data/src/main/java/com/woowa/data/remote/repository/MyWroteRepositoryImpl.kt
  data/src/main/java/com/woowa/data/remote/service/MemberService.kt
  data/src/main/java/com/woowa/data/remote/service/MyWroteService.kt
  data/src/main/java/com/woowa/data/remote/soruce/MemberDataSource.kt
  data/src/main/java/com/woowa/data/remote/soruce/paging/MyWrotePagingSource.kt
  data/src/test/java/com/woowa/data/remote/service/MemberServiceTest.kt
  data/src/test/java/com/woowa/data/remote/service/MyWroteServiceTest.kt
  data/src/test/java/resources/mywrote/my_wrote_success.json
  domain/build.gradle.kts
  domain/src/main/java/com/woowa/domain/model/MemberUpdate.kt
  domain/src/main/java/com/woowa/domain/model/member/Member.kt
  domain/src/main/java/com/woowa/domain/model/member/MemberEdit.kt
  domain/src/main/java/com/woowa/domain/model/member/MemberUpdate.kt
  domain/src/main/java/com/woowa/domain/model/mywrote/MyWrote.kt
  domain/src/main/java/com/woowa/domain/repository/MemberRepository.kt
  domain/src/main/java/com/woowa/domain/repository/MyWroteRepository.kt
Labels: feature, chore, test

#63 enum 클래스 설정
  domain/build.gradle.kts
  domain/src/main/java/com/woowa/domain/model/code/ActivityArea.kt
  domain/src/main/java/com/woowa/domain/model/code/DayOfWeek.kt
  domain/src/main/java/com/woowa/domain/model/code/Field.kt
  domain/src/main/java/com/woowa/domain/model/code/FieldCategory.kt
  domain/src/main/java/com/woowa/domain/model/code/PersonalityAdjective.kt
  domain/src/main/java/com/woowa/domain/model/code/PersonalityNoun.kt
  domain/src/main/java/com/woowa/domain/model/code/ReviewTag.kt
  domain/src/main/java/com/woowa/domain/model/code/Type.kt
  domain/src/main/java/com/woowa/domain/model/code/VoteType.kt
Labels: feature

#66 enum 클래스 설정에 따른 model 수정(+테스트)
  data/src/main/java/com/woowa/data/di/RepositoryModule.kt
  data/src/main/java/com/woowa/data/remote/model/response/member/MemberDto.kt
  data/src/main/java/com/woowa/data/remote/model/response/mywrote/MyWroteDto.kt
  data/src/test/java/com/woowa/data/remote/service/MemberServiceTest.kt
  data/src/test/java/com/woowa/data/remote/service/MyWroteServiceTest.kt
  data/src/test/java/resources/member/member_search_success.json
  data/src/test/java/resources/mywrote/my_wrote_success.json
  domain/build.gradle.kts
  domain/src/main/java/com/woowa/domain/model/mywrote/MyWrote.kt
Labels: chore, test
